body {
  background-color: #cabfb6;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 20px;
}

img {
  width: 600px;
}

h2 {
  font-family: 'Proza Libre', sans-serif;
}

a {
  text-decoration: none;
}



button {
  font-size: 18px;
}

button:hover {
  border: 2px solid black;
  border-radius: 2px;
}

button:hover.explore {
  border: 2px solid black;
  /* border-radius: 2px; */
}

.main {
  margin: auto;
  width: 600px;
  padding: 100px;
  background-color: white;
}

.center {
  text-align: center;
}

button.explore {
  background-color: #c9793b;
  border-style: none;
  /* letter-spacing: 0.8px; */
  border-radius: 7px;
  margin-bottom: 20px;
  padding: 10px 25px;
}

.Android, .Apple {
  /* background-color: #a4c93b; */
  border-radius: 5px;
  padding: 5px 30px;
  font-size: 20px;
}

.Android {
  background-color: #a4c93b
}

.Apple {
  background-color: #b6bcca;
}